<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <title>Algoritmo Patron Jose</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1> Analizador de patrones <small>PoweredBy PlanetCoin </small></h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    Pair
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <select v-model="tickeSelect" @input="onChange">
                            <option v-for="(ticket, index) in tickes" :value="ticket">{{ticket}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    Algorithm
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <select v-model="patronSelect">
                            <option value="jose">gnz</option>
                            <option value="divergence" selected>divergence</option>

                        </select>
                    </div>
                </div>
                <div class="col">
                    Ventana de tiempo
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <select v-model="ventanadetiempo">
                            <option value="1m">1m</option>
                            <option value="5m">5m</option>
                            <option value="15m">15m</option>
                            <option value="30m">30m</option>
                            <option value="1h" selected="selected">1h</option>
                            <option value="2h">2h</option>
                            <option value="3h">3h</option>
                            <option value="4h">4h</option>
                            <option value="1d">1d</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-secondary" @click="buscar">Buscar Coincidencias</button>
                </div>
            </div>
        </div>
        <div class="container">
            <span class="badge badge-warning">{{totalCoincidencias}}</span>
            <div class="row">
                <div class="col"  v-if="patronSelect =='jose'"  v-for="(data, index) in coincidencias.slice().reverse()" :key="index">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p class="card-text">
                                    <h5>
                                        Vela 1
                                    </h5>
                                    {{data.verde.time}}<br>
                                    Open {{data.verde.open}}<br>
                                    Close: {{data.verde.close}}<br>
                                    Ema: {{ data.verde.ema}}<br>
                                    High: {{data.verde.high}}<br>
                                    Low: {{data.verde.low}}<br>
                                </p>
                                <p class="card-text" >
                                    <h5>
                                        Vela 2
                                    </h5>
                                    {{data.roja.time}}<br>
                                    Open {{data.roja.open}}<br>
                                    Close: {{data.roja.close}}<br>
                                    Ema: {{ data.roja.ema}}<br>
                                    High: {{data.roja.high}}<br>
                                    Low: {{data.roja.low}}<br>
                                </p>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col"  v-if="patronSelect !='jose'"  v-for="(data, index) in coincidencias.slice().reverse()" :key="index">
                        <div class="card"> 
                            <div class="card-body">
                                <h5 class="card-title" >
                                    <p class="card-text">
                                        <h5>
                                            Vela roja 1
                                        </h5>
                                        {{data.candles1.startTime}}<br>
                                        Open {{data.candles1.open}}<br>
                                        Close: {{data.candles1.close}}<br>
                                        RSI: {{ data.candles1.rsi}}<br>
                                        High: {{data.candles1.high}}<br>
                                        Low: {{data.candles1.low}}<br>
                                    </p>
                                    <p class="card-text">
                                        <h5>
                                            Vela roja 2
                                        </h5>
                                        {{data.candles2.startTime}}<br>
                                        Open {{data.candles2.open}}<br>
                                        Close: {{data.candles2.close}}<br>
                                        RSI: {{ data.candles2.rsi}}<br>
                                        High: {{data.candles2.high}}<br>
                                        Low: {{data.candles2.low}}<br>
                                    </p>
    
                                </h5>
    
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-socket-io@0.3.2/dist/vue-websocket.min.js"></script>
    <script>
        var socket = io.connect('https://planetcoinbot.herokuapp.com');

        var vm = new Vue({
            el: "#app",
            data: {
                options: {
                    data: null,
                    eventType: 'auto',
                    width: 'auto',
                    height: 6,
                    dotSize: 16,
                    dotHeight: null,
                    dotWidth: null,
                    min: 0,
                    max: 100,
                    interval: 0.1,
                    show: true,
                    speed: 0.5,
                    disabled: true,
                    piecewise: false,
                    usdKeyboard: false,
                    enableCross: true,
                    piecewiseStyle: false,
                    piecewiseLabel: false,
                    tooltip: 'always',
                    tooltipDir: 'top',
                    reverse: false,
                    data: null,
                    clickable: true,
                    realTime: false,
                    lazy: false,
                    formatter: null,
                    bgStyle: null,
                    sliderStyle: null,
                    processStyle: null,
                    piecewiseActiveStyle: null,
                    piecewiseStyle: null,
                    tooltipStyle: null,
                    labelStyle: null,
                    labelActiveStyle: null
                },
                url_base: "",
                tickes: [],
                ticketsOriginal: [],
                tickeSelect: null,
                patronSelect: null,
                ventanadetiempo: null,
                coincidencias: [],
                totalCoincidencias: 0
            },
            created() {
                this.getTickersAll();
            },
            methods: {
                buscar() {
                    if (this.patronSelect != null && this.tickeSelect != null && this.ventanadetiempo != null) {
                        if (this.patronSelect == "jose") {
                            var url = this.url_base + "/binance/searchPatron/" + this.patronSelect + "/" + this
                                .tickeSelect +
                                "/" + this.ventanadetiempo;
                            this.$http.get(url).then(response => {
                                var response = this.patronJose(response.body)
                                this.coincidencias = response.coincidencias;
                                this.totalCoincidencias = response.total_coincidencias;

                            }, response => {});
                        }
                        if (this.patronSelect == "divergence") {
                            var url = this.url_base + "/api/v1/binance/searchPatron/" + this.patronSelect + "/" +
                                this.tickeSelect +
                                "/" + this.ventanadetiempo;
                            this.$http.get(url).then(response => {
                                var datos = response.body.datos;
                                var ticks = response.body.ticks;
                                this.coincidencias = response.body.coincidencias;
                                //this.coincidencias = this.searchCandlesLow(datos, ticks)
                                this.totalCoincidencias = this.coincidencias.length;
                            }, response => {});
                        }
                    } else {
                        alert("Selecciona todas las opciones ")
                    }
                },
                EMACalc(mArray,mRange) {
                    var k = 2/(mRange + 1);
                    emaArray = [mArray[0]];
                    for (var i = 1; i < mArray.length; i++) {
                    emaArray.push(mArray[i] * k + emaArray[i - 1] * (1 - k));
                    }
                    return emaArray;
                },
                save(pair, date){
                    this.$http.post("http://criptobot.test/patron", {'pair': pair, 'date' : date  }).then(response => {
                        console.log(response.body)
                    }, response => {});
                },
                patronJose(ticks){
                    var data=[];
                    var dataClose = [];
                    for(var i=0; i<ticks.length; i++){
                        dataClose.push(parseFloat(ticks[i][4]));
                    }
                    var dataEmaClose=this.EMACalc(dataClose, 8);
                    var coincidencias= [];
                    for(var i=0; i<ticks.length; i++){
                        var current={
                            open: parseFloat(ticks[i][1]),
                            close: parseFloat(ticks[i][4]),
                            high: parseFloat(ticks[i][2]),
                            low: parseFloat(ticks[i][3]),
                            startTime:  new Date(ticks[i][0]).toLocaleString(),
                            endTime:  new Date(ticks[i][6]).toLocaleString(),
                        }
                        data.push(
                            {   
                                'unix': ticks[i][0],
                                'time': current.startTime,
                                'open': current.open,
                                'high': current.high,
                                'low': current.low,
                                'close': current.close,
                                'closeTime':current.endTime,
                            }
                        )

                        if(i>1){
                            var tendenciaAlcista=null
                            if(ticks[i-2][4]<ticks[i-1][4]){
                                tendenciaAlcista=true
                            }
                            if(ticks[i-2][4]>ticks[i-1][4]){
                                tendenciaAlcista=false
                            }
                            var prev={
                                open: parseFloat(ticks[i-1][1]),
                                close: parseFloat(ticks[i-1][4]),
                                high: parseFloat(ticks[i-1][2]),
                                low: parseFloat(ticks[i-1][3]),
                                startTime:  new Date(ticks[i-1][0]).toLocaleString(),
                                endTime:  new Date(ticks[i-1][6]).toLocaleString(),
                            }

                            var bodyPrev= (prev.open - prev.close) <-0? -1*(prev.open - prev.close): (prev.open - prev.close);
                            var percentajePrev= (bodyPrev*0.9)

                            var bodyCurrent= (current.open -current.close) <-0? -1*(current.open - current.close): (current.open - current.close);
                            var percentajeCurrent= (bodyCurrent*0.9);

                            var percentajeOpenPrev=parseFloat(prev.open*0.003);

                            if(prev.startTime == "17/2/2019 12:30:00"){
                               debugger;
                            }
                            if(                          
                            (current.close<prev.close)&&
                            (bodyCurrent>(bodyPrev/2) && bodyCurrent < percentajePrev) 
                            &&(current.open<(prev.open+percentajeOpenPrev) && current.open> (prev.open-percentajeOpenPrev))

                            &&(current.close>dataEmaClose[i] || current.low>dataEmaClose[i])
                            )
                            {
                                //debugger;
                                coincidencias.push({
                                    'verde':{
                                        "time" :prev.startTime,
                                        "open": prev.open,
                                        "close": prev.close,
                                        "low":prev.low,
                                        "high":prev.high,
                                        "ema" : dataEmaClose[i],
                                        "bodyPrev: ":bodyPrev,
                                        "percentajePrev: ":percentajePrev,
                                        "open + 1%: " : (prev.open+percentajeOpenPrev),
                                        "open - 1%: ": (prev.open-percentajeOpenPrev)
                                    },
                                    'roja': {
                                        "time":current.startTime,
                                        "open":current.open,  
                                        "close" :current.close,                                 
                                        "low":current.low,
                                        "high":current.high,
                                        "ema" : dataEmaClose[i],
                                        "bodyCurrent: ":bodyCurrent,
                                        "percentajeCurrent: ":percentajeCurrent,
                                        "tendencia: ":tendenciaAlcista
                                    },                    
                                })

                                //this.save(this.tickeSelect, ticks[i-1][0]);

                            }
                            if(                     
                            (current.close<prev.open)
                            &&current.close>prev.close
                            &&(bodyCurrent>(bodyPrev/2) && bodyCurrent < percentajePrev) 
                            &&(current.open<(prev.open+percentajeOpenPrev) && current.open> (prev.open-percentajeOpenPrev))
                            &&(dataEmaClose[i]>current.close || dataEmaClose[i]>current.high ) 
                            )
                            {
                                coincidencias.push({
                                    'verde':{
                                        "time" :prev.startTime,
                                        "open": prev.open,
                                        "close": prev.close,
                                        "low":prev.low,
                                        "high":prev.high,
                                        "ema" : dataEmaClose[i],
                                        "bodyPrev: ":bodyPrev,
                                        "percentajePrev: ":percentajePrev,
                                        "open + 1%: " : (prev.open+percentajeOpenPrev),
                                        "open - 1%: ": (prev.open-percentajeOpenPrev)
                                    },
                                    'roja': {
                                        "time":current.startTime,
                                        "open":current.open,  
                                        "close" :current.close,                                 
                                        "low":current.low,
                                        "high":current.high,
                                        "ema" : dataEmaClose[i],
                                        "bodyCurrent: ":bodyCurrent,
                                        "percentajeCurrent: ":percentajeCurrent,
                                        "tendencia: ":tendenciaAlcista
                                    },
                                    
                                })

                                //this.save(this.tickeSelect, ticks[i-1][0]);


                            }
                        }
                    }      

                    var response=   {
                                        /*'data ':data, 
                                        'DataClose ': dataClose,*/ 
                                        "ema": dataEmaClose, 
                                        "total_coincidencias":coincidencias.length,
                                        "coincidencias": coincidencias
                                    };
                    
                    return response;
                },
                getTickersAll() {
                    var url = this.url_base + "/binance/getTickers";
                    console.log(url)
                    this.$http.get(url).then(response => {
                        this.tickes = response.body.tickes;
                        this.ticketsOriginal = response.body.tickesOriginal;
                    }, response => {});
                },
                onChange(value) {
                    console.log(this.tickeSelect)
                },
                searchCandlesLow(datos, arrayRsi) {
                    var candlesLow1 = 0,
                        candlesLow2 = 0;
                    var low1 = -1,
                        low2 = -1;
                    var coincidencias = [];
                    for (var i = 0; i < datos.length; i++) {
                        /*if (i == 66)
                            debugger;
                        if (datos[i].startTime == "2019-1-21 17:00:00")
                            debugger;*/
                        if (i > 14) {
                            if ((datos[i].open - datos[i].close) > 0) {
                                if (candlesLow1 != 0) {
                                    if (candlesLow2 != 0) {
                                        if (datos[i].low < candlesLow1) {
                                            candlesLow2 = datos[i].low;
                                            low2 = i;
                                        }
                                    } else {
                                        if (datos[i].low < candlesLow1) {
                                            candlesLow2 = datos[i].low;
                                            low2 = i;
                                        }
                                    }
                                } else {
                                    if (low2 == -1) {
                                        candlesLow1 = datos[i].low
                                        low1 = i;
                                    }
                                }
                                if (low1 != -1 && low2 != -1) {
                                    if (candlesLow2 < candlesLow1) {
                                        if (arrayRsi[low1].rsi < arrayRsi[low2].rsi) {
                                            //console.log("low1: " + low1 + " low2: " + low2)
                                            //console.log("low value 1: " + candlesLow1 + " low value 2: " +
                                               // candlesLow2)
                                            //console.log("rsi 1: " + arrayRsi[low1].rsi + " rsi 2: " + arrayRsi[
                                                //low2].rsi)
                                            coincidencias.push({
                                                "candles1": {
                                                    open: datos[low1].open,
                                                    close: datos[low1].close,
                                                    high: datos[low1].high,
                                                    low: datos[low1].low,
                                                    startTime: new Date(datos[low1].startTime).toLocaleString(),
                                                    endTime: new Date(datos[low1].endTime).toLocaleString(),
                                                    rsi: arrayRsi[low1].rsi,
                                                    date: arrayRsi[low1].date,
                                                    value: arrayRsi[low1].data
                                                },
                                                "candles2": {
                                                    open: datos[low2].open,
                                                    close: datos[low2].close,
                                                    high: datos[low2].high,
                                                    low: datos[low2].low,
                                                    startTime: new Date(datos[low2].startTime).toLocaleString(),
                                                    endTime: new Date(datos[low2].endTime).toLocaleString(),
                                                    rsi: arrayRsi[low2].rsi,
                                                    date: arrayRsi[low2].date,
                                                    value: arrayRsi[low2].data
                                                }
                                            })

                                            candlesLow1 = 0,
                                                candlesLow2 = 0;
                                            low1 = -1, low2 = -1;
                                        } else {
                                            candlesLow1 = 0,
                                                candlesLow2 = 0;
                                            i = low1 + 1;
                                            low1 = -1, low2 = -1;
                                        }
                                    } else {
                                        candlesLow1 = 0,
                                            candlesLow2 = 0;
                                        low1 = -1, low2 = -1;
                                    }

                                }
                            }

                            if((i+1) ==datos.length && low2 == -1 && low1 != -1 && (low1+1) <datos.length){
                                i=low1+1;
                                candlesLow1 = 0,
                                candlesLow2 = 0;
                                low1 = -1, low2 = -1;
                            }
                        }
                    }

                    //console.log(coincidencias.length)
                    //console.log(coincidencias)

                    return coincidencias;
                }

            }

        });
    </script>
</body>

</html>